@font-face {
    font-family: iransans;
    src: url(/iransans/IRANSans_Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: iransans;
    src: url(/iransans/IRANSans_black.ttf);
    font-weight: 800;
}
:root{
    --primary-color:#d6edff;
    --seceondary-color:#ffe090;
    --bg-color:#f9f9f9;
    --black-color:#000;
    --title-color:#030712;
    --text-color:#1e2939;
    --primary-font:iransans;
}
body{
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-weight: normal;
    color: var(--title-color);
}
button{
    all: unset;
    background-color: var(--seceondary-color);
    border: 2px solid var(--black-color);
    cursor: pointer;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.3s;
}
a:hover{
    color: var(--text-color);
}
.flex-j{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--black-color);
    padding: 0.8rem 0;
}
.header-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.logo-img{
    width: 100%;
}
.menu-list{
    display: flex;
    gap: 1rem;
}
.social-icons{
    display: flex;
    gap: 0.6rem;
}
.social-icons li{
    border:  2px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 1px;
}
.social-icons li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    background-color: var(--primary-color);
    padding: 3rem 0;
    border-bottom: 3px solid var(--black-color);
}
.hero-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.hero-box{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.hero-btn1{
    width: 60px;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-btn1_icon{
    width: 20px;
}
.hero-span{
    margin: 1rem 0;
    font-weight: 800;
    font-size: 1.3rem;
}
.hero-p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--text-color);
}
.hero-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    align-self: self-end;
    padding: 0.4rem;
    gap: 3px;
    border-radius: 12px;
    position: relative;
    z-index: 9999;
    box-shadow: #422800 0px 2px 0 0;
}
.hero-photo{
    display: flex;
    justify-content: end;
    width: 35%;
}
.hero-img{
    width: 100%;
}

.services{
    background-color: var(--bg-color);
    padding: 3rem 0;
    border-bottom: 3px solid var(--black-color);
    margin-bottom: 10rem;
}
.services-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: auto;
    padding: 0.4rem;
    border: 2px dotted var(--black-color);
    border-radius: 15px;
    font-weight: 800;
}
.services-btn_icon{
    width: 20px;
}
.all-service{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin-top: 1rem;
}
.a-service{
    border: 3px solid var(--black-color);
    padding: 0.5rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    gap: 1rem;
}
.a-service span{
    font-size: 1.2rem;
}
.a-service img{
    width: 60px;
}
.team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.team-img{
    width: 30%;
}
.team-img img{
    width: 100%;
}
.team-detail h2{
    font-weight: 800;
    font-size: 1.2rem;
}
.team-detail ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    position: relative;
}
.team-detail ul::before{
    position: absolute;
    right: -1%;
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--black-color);
}
.team-detail ul li{
    display: flex;
    gap: 0.5rem;
    padding-right: 20px;
    position: relative;
    align-items: center;
}
.team-detail ul li::before{
    width: 25px;
    height: 25px;
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    right: -20px;
    border-radius: 50%;
    border: 2px solid var(--black-color);
}
.team-detail ul li:nth-child(2)::before{
    background-color: var(--seceondary-color) !important;
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}














@media screen and (max-width: 1360px) {
    .container{
        margin: auto 1rem;
    }
}