@font-face {
    font-family: iransans;
    src: url(../iransans/IRANSans_Medium.ttf),format("ttf"),
         url(../iransans/IRANSans_Medium.woff),format("woff");
    font-weight: normal;
}
@font-face {
    font-family: iransans;
    src: url(../iransans/IRANSans_Black.ttf) format("ttf"),
         url(../iransans/IRANSans_black.woff) format("woff");
    font-weight: 800;
}
:root{
    --primary-color:#d6edff;
    --seceondary-color:#ffe090;
    --bg-color:#f9f9f9;
    --black-color:#000;
    --title-color:#030712;
    --text-color:#1e2939;
    --primary-font:iransans;
}
body{
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-weight: normal;
    color: var(--title-color);
}
button{
    all: unset;
    background-color: var(--seceondary-color);
    border: 2px solid var(--black-color);
    cursor: pointer;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.3s;
}
a:hover{
    color: var(--text-color);
}
.flex-j{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--black-color);
    padding: 0.8rem 0;
}
.header-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.logo-img{
    width: 100%;
}
.menu-list{
    display: flex;
    gap: 1rem;
}
.social-icons{
    display: flex;
    gap: 0.6rem;
}
.social-icons li{
    border:  2px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 1px;
}
.social-icons li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    background-color: var(--primary-color);
    padding: 3rem 0;
    border-bottom: 3px solid var(--black-color);
}
.hero-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.hero-box{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.hero-btn1{
    width: 60px;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-btn1_icon{
    width: 20px;
}
.hero-span{
    margin: 1rem 0;
    font-weight: 800;
    font-size: 1.3rem;
}
.hero-p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--text-color);
}
.hero-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    align-self: self-end;
    padding: 0.4rem;
    gap: 3px;
    border-radius: 12px;
    position: relative;
    z-index: 9999;
    box-shadow: #422800 0px 2px 0 0;
}
.hero-photo{
    display: flex;
    justify-content: end;
    width: 35%;
}
.hero-img{
    width: 100%;
}

.services{
    background-color: var(--bg-color);
    padding: 3rem 0;
    border-bottom: 3px solid var(--black-color);
}
.services-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: auto;
    padding: 0.4rem;
    border: 2px dotted var(--black-color);
    border-radius: 15px;
    font-weight: 800;
}
.services-btn_icon{
    width: 20px;
}
.all-service{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin-top: 1rem;
}
.a-service{
    border: 3px solid var(--black-color);
    padding: 0.5rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    gap: 1rem;
}
.a-service span{
    font-size: 1.2rem;
}
.a-service img{
    width: 60px;
}
.team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.team-img{
    width: 30%;
}
.team-img img{
    width: 100%;
}
.team-detail h2{
    font-weight: 800;
    font-size: 1.2rem;
}
.team-detail ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    position: relative;
}
.team-detail ul::before{
    position: absolute;
    right: -1%;
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--black-color);
}
.team-detail ul li{
    display: flex;
    gap: 0.5rem;
    padding-right: 20px;
    position: relative;
    align-items: center;
}
.team-detail ul li::before{
    width: 25px;
    height: 25px;
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    right: -20px;
    border-radius: 50%;
    border: 2px solid var(--black-color);
}
.team-detail ul li:nth-child(2)::before{
    background-color: var(--seceondary-color) !important;
}
.Tariff{
    background-color: var(--primary-color);
    margin-bottom: 3rem;
    padding: 3rem 0;
    border-bottom: 3px solid var(--black-color);
}
.Tariff-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    margin: 5rem 0;
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.company h2{
    font-size: 22px;
    margin-bottom: 1rem;
    font-weight: 800;
}
.company>img{
    width: 70px;
    color: var(--seceondary-color);
    transform: rotate(180deg);
}
.company-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
    margin-top: 3rem;
}
.company-grid-img{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-radius: 12px;
}
.company-grid-img img{
    width: 50%;
}
.faq{
    margin: 5rem 0;
}
.faq h2{
    font-weight: 800;
    font-size: 20px;
}
.faq-box{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 5rem;
    align-items: start;
}
.faq-right{
    border: 2px solid var(--black-color);
    width: 40%;
}
.faq-left{
    width: 50%;
}
.faq-left img{
    width: 100%;
}
.open{
    display: block !important;
    opacity: 1 !important;
}
.faq-question{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom: 2px solid var(--black-color);
    cursor: pointer;
}
.faq-answer{
    padding: 1rem;
    border-bottom: 2px solid var(--black-color);
    background-color: var(--bg-color);
    display: none;
    opacity: 0;
    transition: all 1s;
}
/* start footer */
.top-footer{
    border: 2px solid var(--black-color);
    border-radius: 12px;
    padding: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: -200px;
    z-index: 999;
    background-color: var(--bg-color);
    position: relative;
}
.top-footer_form{
    display: flex;
}
.top-footer_form input{
    padding: 0.8rem;
    width: 400px;
    outline: none;
    border: 2px solid var(--black-color);
    border-radius: 0px  7px 7px 0px;
    font-family: var(--primary-font);
}
.top-footer_form button{
    padding: 1rem;
    border-radius: 7px  0px 0px 7px;
}
.main-footer{
    background-color: var(--primary-color);
    border-top: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);
    padding: 5rem 0;
    padding-top: 270px;
}
.main-footer_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.main-footer_about,.main-footer_service,.main-footer_blogs,.main-footer_license{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.main-footer_about img{
    width: 100px;
}
.main-footer_title{
    font-weight: 800;
}
.main-footer_about-icons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.main-footer_about-icons img{
    width: 22px;
}
.main-footer_service ul,.main-footer_blogs ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.main-footer_license-imgs{
    display: flex;
    justify-content: space-between;
}
.main-footer_license img{
    width: 100px;
}
.bottom-footer{
    padding: 3rem 0;
}
.bottom-footer_box{
    display: flex;
    justify-content: space-between;
}














@media screen and (max-width: 1360px) {
    .container{
        margin: auto 1rem;
    }
}
